 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 669px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 581px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 570px;
  object-position: 50% 79.17%;
  margin: 31px auto 0 -31px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 669px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 8.125rem;
  letter-spacing: 8px;
  line-height: 1;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 90px 0 0 31px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 552px;
  }

  .u-section-1 .u-image-1 {
    height: 479px;
    width: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 20px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 0%;
    min-height: 635px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-1 .u-text-1 {
    letter-spacing: 0px;
    margin-top: -105px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }
}